<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="post_before_save">
        <observer name="change_post_data" instance="Magenest\Chapter6\Observer\Post\ChangeData" />
    </event>
</config>